body {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  .container {
    max-width: 100px;
    height: 20px;
    background: #f5f5f5;
    margin: 20px auto;
  }
  .timer-wrapper {
    height: 20px;
    line-height: 20px;
    background: #000;
    position: relative;
    margin-top: 90px;
  }
  .timer-txt {
    width: 100%;
    margin: 0;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .timer-bar {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    background: #28c684;
  }
  .timer-warn {
    background: #d0863a;
  }
  .timer-almost {
    background: #d03a49;
  }
  